#calculator {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 300px;
    font-size: 32px;
    border-style: solid;
}

#display {
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#miniDisplay {
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#numButtons {
    display: flex;
    flex-direction: row;
}

#opButtons {
    display: flex;
    flex-direction: column;
}

#endButtons {
    display: flex;
    justify-content: center;
}

#clearButton, #equalsButton {
    flex-basis: 50%;
}

.numCol {
    display: flex;
    flex-direction: column;
}

.numButton, .opButton, .endButton, .button {
    font-size: 26px;
    padding: 28px;
}

.numButton, .button {
    background-color: rgb(247, 241, 241);
}